/* Card Container */
.card-container {
  perspective: 1000px;
  width: 250px;
  height: 250px;
}

/* Card Flip */
.card-flip {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}

/* Front and Back Styles */
.card {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card.front {
  background-color: #fff599;
  color: #333333;
}

.card.back {
  background-color: #fff599;
  color: #333333;
  transform: rotateY(180deg);
}
.card-description {
  font-size: 20px;
  color: #964b00;
}
img,
svg {
  vertical-align: middle;
  height: 180px;
  width: 180px;
}
